<style type="text/css" xmlns="http://www.w3.org/1999/html">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">
  var featuredVideoId =  "<%=$featured_video_id %>";

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

<div id="subheader">

  <div style="margin-left:auto; margin-right:auto;width:50%;text-align:center;"><span id="fv_title" ><b>Featured Video:&nbsp;</b><%= $featured_video_title %></span></div>
  <table class="playerTable">
    <tr>
      <td width="10%">
        <img src="assets/PreviousVid2.png" onclick="getPreviousVideo()" class="imgButtons"/>
      <td style="text-align: center">
            <div id="videoDiv" class="videoDivClass">Loading...</div>
            <div id="videoControls"/>
      </td>
      <td width="10%">
       <img src="assets/NextVid2.png" onclick="getNextVideo()" class="imgButtons"/>
    </tr>
  </table>
</div>

<div id="tabsection">

</div>


<div id="main">

<div class="welcomeHeader"><b> Welcome to UndergroundMed! </b></div>
    Clinical concepts taught through <b>interactive, high-yield, 7 minute</b> videos - created by <b>medical students</b> and
    <b>reviewed</b> for factual correctness by <b>experienced</b> medical educators.
<div class="videoListDiv">
  <table id="videoListTable">
    <tr>
      <th>&nbsp;</th>
      <th align="left">Title</th>
      <th>Rating</th>
      <th>Views</th>
    </tr>
   </table>
</div>

</div>