<style type="text/css">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">

  function _run() {
    loadPlayer("<%=@featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();

    $(function(){
      $(window).responsinav({ breakpoint: 650 });
    });

  });

</script>

  <div id="main">
      Our ultimate goal is to create a site dedicated to the needs of the modern medical student.  Our videos are designed to be: fun, interactive, practical, contextual, high-yield, and time sensitive, and we are always looking for new ways to improve on our work.  The intent of our videos is not to teach every detail in existence, but to instead provide a contextual thinking framework that students can use to build their medical knowledge.  Rest assured that factual correctness and quality are very important to us - as our videos are checked for factual correctness by experienced and accomplished medical educators.
      We are, and always intend to be, a student run organization - but one that also has support from nationally recognized and accredited medical organizations.
      If you would like to join us in our mission, please contact us!  And please feel free to offer any advice or suggestions on how we can improve your UndergroundMed experience!
    <br/>

    <table>
      <tr>
        <td><div id="videoDiv">Loading...</div></td>
        <td valign="top">
          <div id="videoControls"/>
        </td>
      </tr>
    </table>
    <button type="button"  onclick="getPreviousVideo()">Previous</button>
    <button type="button"  onclick="getNextVideo()">Next</button>
     <p/>
    <div class="videoListDiv">
      <table id="videoListTable">
        <tr>
          <th>&nbsp;</th>
          <th align="left">Title</th>
          <th>Rating</th>
          <th>Views</th>
          <th>Category</th>
        </tr>
       </table>
    </div>

  </div>
  <div id="sidebar" style="border:solid; border-width:2px; border-color: #ccc; padding: 2px; margin-top:10px">
    <b>Want to help?</b><br/>

    Yes, I would like to help by:<br/>
    <input type="checkbox" id="makeVideo"/>Making videos<br/>
    <input type="checkbox" id="reviewVideo">Reviewing Videos <br/>
    <input type="checkbox" id="addToList">Just keep me informed<br/>

     Comments:<br/>
      <textarea id="comments" rows="6" style="width:98%; padding:2px;"></textarea><br/>

       Name: <input type="text" id="name"/> <br/>
       Email*<input type="text" id="email"/>  <br/>

        <span class="smallText">*Required</span>  <br/>

         <button type="button" onclick="saveContact()">I'd like to help</button>

  </div>


