<style type="text/css">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

<div id="main">

  <div style="margin-left:auto; margin-right:auto;width:50%;text-align:center;"><span id="fv_title" ><b>Featured Video:&nbsp;</b><%= $featured_video_title %></span></div>
  <table class="playerTable">
    <tr>
      <td width="10%">
        <img src="assets/PreviousVid.png" onclick="getPreviousVideo()" class="imgButtons"/>
      <td style="text-align: center">
            <div id="videoDiv" class="videoDivClass">Loading...</div>
            <div id="videoControls"/>
      </td>
      <td width="10%">
       <img src="assets/nextVideo.jpg" onclick="getNextVideo()" class="imgButtons"/>
    </tr>
  </table>

    <div class="welcomeHeader"><b> Welcome to UndergroundMed! </b></div>
        Clinical concepts taught through INTERACTIVE, HIGH-YIELD, 7 MINUTE videos - created by MEDICAL STUDENTS and
        REVIEWED for factual correctness by experienced medical educators.
  <div class="videoListDiv">
      <table id="videoListTable">
        <tr>
          <th>&nbsp;</th>
          <th align="left">Title</th>
          <th>Rating</th>
          <th>Views</th>
        </tr>
       </table>
    </div>

  </div>