<style type="text/css">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">

  function _run() {
    loadPlayer("<%=@featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

<div id="main">

    <div id="fv_header" style="margin-left:auto; margin-right:auto; width:150px;"><b>Featured Video</b></div>
  <table class="playerTable">
    <tr>
      <td width="10%">
        <img src="assets/previousVideo.jpg" onclick="getPreviousVideo()" class="imgButtons"/>
      <td style="text-align: center">
            <div id="videoDiv" class="videoDivClass">Loading...</div>
            <div id="videoControls"/>
      </td>
      <td width="10%">
       <img src="assets/nextVideo.jpg" onclick="getNextVideo()" class="imgButtons"/>
    </tr>
  </table>

    <div class="welcomeHeader"><b> Welcome to UndergroundMed! </b></div>
    Clinical concepts taught through interactive, high-yield, time-sensitive videos.
    All videos created by students and reviewed by experienced faculty for factual correctness.
    <div class="videoListDiv">
      <table id="videoListTable">
        <tr>
          <th>&nbsp;</th>
          <th align="left">Title</th>
          <th>Rating</th>
          <th>Views</th>
        </tr>
       </table>
    </div>

  </div>