a {
  color: #334499;
  text-decoration: none;
  cursor:pointer;
}

a:hover {
  text-decoration: underline;
  cursor:pointer;
}

body,
html {
  padding:0;
  color:#000;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 10pt;
  width: 972px;
  margin-left:auto;
  margin-right:auto;
  background-color: #EEEEEE;
}

#innerBody {
  background-color: #fff;
}

#wrap {
  margin:0 auto;
}
#header {
  margin-bottom: 5px;
  padding:0;
  height: 90px;
  background-color: #264061;
}

#header img {
  padding-top: 3px;
  margin: auto;
  display:block;
}

h1 {
  margin:0;
}
#navigation {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding:5px 10px;
  background-color: #d8e4f0;
  height: 18px;
}

.welcomeHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding: 2px 0;
  background-color: #d8e4f0;
  font-size: 12pt;
  text-align:center;
}

#main {
  float:left;
  padding:10px;
  text-align:center;
}
#footer {
  clear:both;
}
/* styles for the player area */
/* table that contains the player and buttons */
.playerTable
{
  margin-left:auto;
  margin-right:auto;
  width:95%;
}

/*video table*/
.videoListDiv {
  height: 400px;
  overflow: auto;
  padding: 2px;
  margin: 10px 3px;
}

#videoListTable
{
  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  background: #fff;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5px;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #d8e4f0;
}
#videoListTable th
{
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 2px 8px;
  border-bottom: 2px solid #d8e4f0;
}
#videoListTable td
{
  color: black;
  padding: 2px 8px;
}

#videoListTable a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#videoListTable a:hover {
  text-decoration: none;
  cursor:pointer;
  color: black;
  font-weight: bold;
}

.categorySpan {
  font-weight:normal;
}

/* misc styles */
.imgButtons {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

/* menu styles */
#mainNav, #mainNav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

#mainNav {
  background: #d8e4f0;
  width: 100%;
}

#mainNav ul ul {
  font-size: 1em;
}

#mainNav ul ul a, #subNav a, #caseNav a {
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #268cc4;
  font-size: 10pt;
}

#subNav ul, #caseNav ul {
  margin-left: 0;
  list-style: none;
  line-height: 18px;
}

#subNav a, #caseNav a {
  color: #3e6399;
  font-size: 12px;
}

#subNav ul {
  width: 134px;
  margin-bottom: 0;
}

#mainNav a {
  display: block;
  width: auto;
  padding: 1px 20px;
  color: black;
  font-weight: normal;
  font-size: 14pt;
}

#mainNav li {
  float: left;
  width: auto;
  margin: 0;
  font-size: 12px;
}

#mainNav li ul { /* second-level lists */
  position: absolute;
  background: #d8e4f0;
  width: 14em;
  left: -999em;
  padding-bottom: 6px;
  z-index: 1;
}

#mainNav li ul a {
  width: 9em;
  color: black;
}

#mainNav li ul ul { /* third-and-above-level lists */
  margin: -1em 0 0 10em;
}

#mainNav li:hover ul ul, #mainNav li.sfhover ul ul {
  left: -999em;
}

#mainNav li:hover ul, #mainNav li li:hover ul, #mainNav li.sfhover ul, #mainNav li li.sfhover ul { /* lists nested under hovered list items */
  left: auto;
}

#mainNav li.last a, #footer li.last a { border-right: none; }

#mainNav a, #subNav a, #utilNav a, #caseNav a {
  text-decoration: none;
}

#mainNav a:hover {
  text-decoration: underline;
}

#mainNav ul ul a:hover, #subNav ul a:hover, #caseNav ul a:hover {
  text-decoration: underline;
  color: #000;
}

#mainNav ul ul a:hover {
  background: #d8e4f0;
}

#mainNav ul li#-tab a {
  background: #707d90;
}
#mainNav ul li#-tab ul li a {
  background: #fff;
}
#subNav ul li a {color: #333;}
#subNav ul li li a {color: #3e63ac;}
